# A06

---

## Programming Environment

In [1]:
R.version.string
.libPaths()

library(dcData)
library(tidyverse)

[1] "R version 4.3.0 (2023-04-21)"

[1] "/Library/Frameworks/R.framework/Versions/4.3-arm64/Resources/library"

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.2     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

---

In [10]:
?dcData::OrdwayBirds

OrdwayBirds               package:dcData               R Documentation

_B_i_r_d_s _c_a_p_t_u_r_e_d _a_n_d _r_e_l_e_a_s_e_d _a_t _O_r_d_w_a_y, _c_o_m_p_l_e_t_e _a_n_d _u_n_c_l_e_a_n_e_d

_D_e_s_c_r_i_p_t_i_o_n:

     The historical record of birds captured and released at the
     Katharine Ordway Natural History Study Area, a 278-acre preserve
     in Inver Grove Heights, Minnesota, owned and managed by Macalester
     College.

_U_s_a_g_e:

     data("OrdwayBirds")

_F_o_r_m_a_t:

     A data frame with 15,829 observations on the following 26
     variables:

     bogus

     Timestamp indicates when the data were entered into an electronic
          record, not anything about the bird being described

     Year year of capture

     Day day of capture

     Month month of capture

     CaptureTime time of capture

     SpeciesName

     Sex

     Age

     BandNumber

     TrapID

     Weather

     BandingReport

     RecaptureYN

     RecaptureMonth

     RecaptureDay

     Condition

     Release

     Comments

     DataEntryPerson

     Weight

     WingChord

     Temperature

     RecaptureOriginal

     RecapturePrevious

     TailLength

_D_e_t_a_i_l_s:

     There are many extraneous levels of variables such as species.
     Part of the purpose of this data set is to teach about data
     cleaning.

_S_o_u_r_c_e:

     Jerald Dosch, Dept. of Biology, Macalester College: the manager of
     the Study Area.

_S_e_e _A_l_s_o:

     `OrdwaySpeciesNames`

_E_x_a_m_p_l_e_s:

     data(OrdwayBirds)
     str(OrdwayBirds)

In [3]:
?dcData::OrdwaySpeciesNames

OrdwaySpeciesNames           package:dcData            R Documentation

_C_o_r_r_e_c_t_e_d _S_p_e_c_i_e_s _N_a_m_e_s _f_o_r _t_h_e _O_r_d_w_a_y _B_i_r_d_s

_D_e_s_c_r_i_p_t_i_o_n:

     This data frame lists all the species name that appear in
     `OrdwayBirds`. In many cases, the species name was mis-spelled in
     the original. As a result, many birds are listed as separate
     species even though, in reality, they all belong to the same
     species. For each potentially mis-spelled species name, this table
     gives a standardized name.

_U_s_a_g_e:

     data("OrdwaySpeciesNames")

_F_o_r_m_a_t:

     A data frame with 265 observations on the following 2 variables:

     SpeciesName The original spelling, or misspelling, of a bird
          species.

     SpeciesNameCleaned Corrected spelling (or NA if the original was
          not identifiable.)

_S_o_u_r_c_e:

     Daniel Kaplan and students in a 2013 Data and Computing
     Fundamentals class at Macalester College (Saint Paul, MN) read
     through original names in `OrdwayBirds` and typed corrected
     spelling shown in `SpeciesNameCleaned`.

_S_e_e _A_l_s_o:

     `OrdwayBirds`

_E_x_a_m_p_l_e_s:

     data(OrdwaySpeciesNames)
     str(OrdwaySpeciesNames)

In [5]:
OrdwayBirds %>%
  select(Month, Day) %>%
  head()

  Month Day
3 7     16
4
5 7     16
6 7     16
7 7     16
8 7     16

In [11]:
OrdwayBirds <-
  OrdwayBirds %>%
  select(SpeciesName, Month, Day) %>%
  mutate(
    Month = as.numeric(as.character(Month)),
    Day   = as.numeric(as.character(Day))
  )
OrdwayBirds %>%
  head()

  SpeciesName   Month Day
3 Song Sparrow   7    16
4               NA    NA
5 Song Sparrow   7    16
6 Field Sparrow  7    16
7 Field Sparrow  7    16
8 Song Sparrow   7    16

In [23]:
dcData::OrdwaySpeciesNames %>%
  filter(is.na(SpeciesNameCleaned))

   SpeciesName            SpeciesNameCleaned
1                         NA
2  -lost-                 NA
3  -missing-              NA
4  [Nothing, just dashes] NA
5  13:00:00               NA
6  Bank Swallow           NA
7  Barn Swallow           NA
8  Bay-breasted Warbler   NA
9  Blackpoll Warbler      NA
10 Blue Jay               NA
11 Blue-headed Vireo      NA
12 Blue-winged Warbler    NA
13 Bluebird               NA
14 Boreal Chickadee       NA
15 Brewer's Sparrow       NA
16 Brown Creeper          NA
17 Brown Thrasher         NA
18 Brown Towhee           NA
19 Cactus Wren            NA
20 Common Crow            NA
21 Common Grackle         NA
22 Common Nighthawk       NA
23 Common Redpoll         NA
24 Common Yellowthroat    NA
25 Connecticut Warbler    NA
26 Downy Woodpecker       NA
27 E Bluebird             NA
28 Eastern Bluebird       NA
29 Eastern Kingbird       NA
30 Eastern Meadowlark     NA
31 Eastern Robin          NA
32 Flicker                NA
33 Fox Sparrow            NA
34 Goldfinch              NA
35 Grackle                NA
36 Green Heron            NA
37 Ground Dove            NA
38 Hairy Woodpecker       NA
39 Hermit Thrush          NA
40 Horned Lark            NA
41 House Finch            NA
42 House Sparrow          NA
43 Inca Dove              NA
44 Indigo Bunting         NA
45 Killdeer               NA
46 Kingbird               NA
47 Kiskadee F.C.          NA
48 Magnolia Warbler       NA
49 Mockingbird            NA
50 Rough-winged Swallow   NA

---

Task 1

You will find it helpful to use `n_distinct()` a reduction function, which counts the number of unique values in a variable.

[1] Including misspellings, how many different species are there in the `OrdwayBirds` data?

There are 275 unique values of the variable `SpeciesName`. This reduces to 268 after dropping the following invalid values:
* `''`
* `'-lost-'`
* `'-missing-'`
* `'13:00:00'`
* `'[Nothing, just dashes]'`
* `'lost'`
* `'none'`

[2] Consider the `OrdwaySpeciesNames` data frame also found in the `dcData` package as well. How many distinct species are there in the `SpeciesNameCleaned` variable in `OrdwaySpeciesNames`?

There are 108 unique values of the variable `SpeciesNameCleaned` after accounting for the value `NA`.

In [25]:
OrdwayBirds %>%
  count(SpeciesName)

    SpeciesName               n
1                                4
2   -lost-                       1
3   -missing-                    1
4   13:00:00                     1
5   Acadian Flycatcher           1
6   American Gold Finch         50
7   American Goldfinch        1153
8   American Golf Finch          1
9   American Redfinch            1
10  American Redstart            3
11  American Robin               4
12  Arkansas Kingbird            1
13  Baltimore Oriole           206
14  Bank Swallow                21
15  Barn Swallow                23
16  Batimore Oriole              1
17  Bay-breasted Warbler         2
18  Blac-capped Chickadee        1
19  Black and White Warbler      9
20  Black-Capped Chickadee      13
21  Black-and-white Warbler      1
22  Black-billed Cookoo          1
23  Black-billed Cuckoo         15
24  Black-capeed Chickadee       1
25  Black-capped Chicakdee       1
26  Black-capped Chickadee    1110
27  Black-capped Chikadee        1
28  Black-capped chickadee     187
29  Black-throat Sparrow        31
30  Black-throat-Sparrow         1
⋮   ⋮                         ⋮
246 White-breast Nuthatch      23
247 White-breasted Nuthatch   236
248 White-crown Sparrow        17
249 White-crowned Sparrow      78
250 White-eyed Vireo            1
251 White-thorat Sparrow        1
252 White-throat Sparrow       86
253 White-throated Sparrow    229
254 White-winged Junco          2
255 Wht-brstd Nuthatch          1
256 Wilson Warbler              4
257 Wilson's Warbler           22
258 Winter Wren                 1
259 Wood Pewee                 37
260 Wood Thrush                 3
261 Woodcock                    1
262 Wren                        2
263 Yellow Flicker              1
264 Yellow Shafted Flicker      4
265 Yellow Warbler             19
266 Yellow-bellied Flycatcher   7
267 Yellow-bellied Sapsucker    3
268 Yellow-shaft Flicker        6
269 Yellow-shafted Flicker     34
270 Yellow-shafted flicker      6
271 Yellow-tailed Oriole        1
272 Yellowthroat              107
273 [Nothing, just dashes]      1
274 lost                        1
275 none                        2

In [44]:
OrdwayBirds %>%
  select(SpeciesName) %>%
    n_distinct()

[1] 275

In [38]:
OrdwaySpeciesNames %>%
  count(SpeciesNameCleaned)

    SpeciesNameCleaned        n
1   Acadian Flycatcher        1
2   American Goldfinch        3
3   American Redfinch         1
4   American Redstart         1
5   American Robin            1
6   Arkansas Kingbird         1
7   Baltimore Oriole          3
8   Black and White Warbler   2
9   Black-billed Cookoo       2
10  Black-capped Chickadee    8
11  Black-throat Sparrow      2
12  Brown-headed Cowbird      2
13  Cardinal                  2
14  Carolina Chickadee        1
15  Catbird                   4
16  Cedar Waxwing             2
17  Chestnut-backed Chickadee 1
18  Chestnut-sided Warbler    1
19  Chickadee                 2
20  Chipping Sparrow          4
21  Clay-colored Sparrow      3
22  Cowbird                   1
23  Curve-billed Thrasher     2
24  Eastern Phoebe            2
25  Eastern Wood Pewee        2
26  Field Sparrow             2
27  Golden-Crowned Kinglet    3
28  Gray - cheeked Thrush     4
29  Great Crested Flycatcher  3
30  Harris's Sparrow          3
⋮   ⋮                         ⋮
80  Tennessee Warbler          2
81  Traill's Flycatcher        1
82  Tree L                     1
83  Tree Swallow               4
84  Tufted Titmouse            1
85  Unknown                    1
86  Varied Thrush              1
87  Veery                      1
88  Vesper Sparrow             1
89  Warbling Vireo             1
90  White-Crested Sparrow      1
91  White-Fronted Dove         1
92  White-breasted Nuthatch    5
93  White-crowned Sparrow      2
94  White-eyed Vireo           1
95  White-throat Sparrow       5
96  White-winged Junco         1
97  Wilson's Warbler           2
98  Winter Wren                1
99  Wood Pewee                 1
100 Wood Thrush                1
101 Woodcock                   1
102 Wren                       1
103 Yellow Shafted Flicker     5
104 Yellow Warbler             1
105 Yellow-bellied Flycatcher  1
106 Yellow-bellied Sapsucker   1
107 Yellow-tailed Oriole       1
108 Yellowthroat               1
109 NA                        50

In [45]:
OrdwaySpeciesNames %>%
  select(SpeciesNameCleaned) %>%
    n_distinct()

[1] 109

---

Task 2

Use the `OrdwaySpeciesNames` table to create a new data frame that corrects the misspellings in `SpeciesNames`. This can be done easily using the `inner_join()` data verb. Look at the names of the variables in `OrdwaySpeciesNames` and `OrdwayBirds`.

[1] Which variable(s) was used for matching cases?

The variable `SpeciesName` was used for matching cases.

[2] What were the variable(s) that will be added?

The variables `SpeciesNameCleaned` (renamed to `Species`), `Month`, and `Day` will be added.

In [53]:
Corrected <-
  OrdwayBirds %>%
    inner_join(y = OrdwaySpeciesNames) %>%
    select(Species = SpeciesNameCleaned, Month, Day) %>%
    na.omit()
Corrected %>%
  head()

Joining with `by = join_by(SpeciesName)`

Warning message in inner_join(., y = OrdwaySpeciesNames):
“Detected an unexpected many-to-many relationship between `x` and `y`.
ℹ Row 4 of `x` matches multiple rows in `y`.
ℹ Row 211 of `y` matches multiple rows in `x`.
ℹ If a many-to-many relationship is expected, set `relationship =
  "many-to-many"` to silence this warning.”

  Species       Month Day
1 Song Sparrow  7     16
3 Song Sparrow  7     16
4 Field Sparrow 7     16
5 Field Sparrow 7     16
6 Field Sparrow 7     16
7 Field Sparrow 7     16

---

Task 3

How many bird captures are reported for each of the corrected species?

Major species threshold >= 1000

Call the variable that contains the total `count`. Arrange this into descending order from the species with the most birds, and look through the list. (Hint: Remember `n()`. Also, one of the arguments to one of the data verbs will be `desc(count)` to arrange the cases into descending order. Display the top 10 species in terms of the number of bird captures.) Define for yourself a "major species" as a species with more than a particular threshold count. Set your threshold so that there are 5 or 6 species designated as major. Filter to produce a data frame with only the birds that belong to a major species. Save the output in a table called `Majors`. (Hint: Remember that summary functions can be used case-by-case when filtering or mutating a data frame that has been grouped.)

In [64]:
Corrected %>%
  count(Species) %>%
  arrange(desc(n)) %>%
  head(n = 10)

   Species                n
1  Slate-colored Junco    2732
2  Tree Swallow           1537
3  Black-capped Chickadee 1327
4  American Goldfinch     1204
5  Field Sparrow          1164
6  Lincoln's Sparrow       790
7  Robin                   608
8  Catbird                 554
9  Song Sparrow            512
10 House Wren              460

In [68]:
Corrected %>%
  group_by(Species) %>%
  summarize(count = n()) %>%
  arrange(desc(count)) %>%
  head(n = 10)

   Species                count
1  Slate-colored Junco    2732
2  Tree Swallow           1537
3  Black-capped Chickadee 1327
4  American Goldfinch     1204
5  Field Sparrow          1164
6  Lincoln's Sparrow       790
7  Robin                   608
8  Catbird                 554
9  Song Sparrow            512
10 House Wren              460

In [70]:
Majors <-
  Corrected %>%
    group_by(Species) %>%
    summarize(count = n()) %>%
    arrange(desc(count)) %>%
    filter(count >= 1000)
Majors

  Species                count
1 Slate-colored Junco    2732
2 Tree Swallow           1537
3 Black-capped Chickadee 1327
4 American Goldfinch     1204
5 Field Sparrow          1164

---

Task 4

---